		*{
			margin:0;
			padding: 0;
		}
		a{
			text-decoration: none;
		}
		.body{
			background-color: #f5f5f5;
		}
		.clearfix:after{
			content: "";
			clear:both;
			height: 0px;
			visibility: hidden;
			display: block;
		}
        .clearfix{
        	*zoom:1;
        }
		nav{
			width: 100%;
			/*border-top:1px solid #cc3e39;
			border-left:1px solid #cc3e39;
			border-right:1px solid #cc3e39;
			border-bottom:1px solid #cc3e39;*/
			background-color: #cc3e39;
		}
		nav .box{
			width: 1120px;
			height: 60px;
			border: 1px solid #cc3e39;
			margin:0px auto;
			line-height: 60px;
		}
		.box .box_1{
			width: 24px;
			height: 24px;
			background-color: #fff;
			border: 1px solid #fff;
			float: left;
			margin-top: 18px;
			border-radius: 50%;
			text-align: center;
			line-height: 24px;
			cursor: pointer;
		}
		.box .box_1 i{
			color: #cc3e39;
			font-size: 15px;
		}
        .box ul li{
			list-style: none;
			float: right;
			margin-right: 30px;
			font-size: 13px;
			cursor: pointer;
		}
		.box ul a{
			color: #ffe8e8;
		}
		.box ul li:nth-child(1){
			margin-right: 0px;
		}
		.box ul li:nth-child(4){
			margin-right: 0px;
			margin-left: 38px;
		}
		.box ul li:nth-child(1):hover{
			text-decoration: underline;
		}
		.box ul li:nth-child(4):hover{
			text-decoration: underline;
		}
		.box ul li:nth-child(6){
			margin-right: 42px;
		}
	    .box_3{
	    	width: 1px;
	    	height:12px;
	        background-color: #cc3d8b;
	        float:right;
	        margin-top: 24px;
	        margin-left:8px;
	    }
	    .box_2{
	    	width: 1px;
	    	height:12px;
	        background-color: #ccccb0;
	        float:right;
	        margin-top: 24px;
	        margin-right:8px;
	    }
	    .box_4{
	    	height: 14px;
	    	width: 1px;
	    	float: right;
	    	background-color: #d46460;
	    	margin-top: 23px;
	    }
	    #dropmu{
	    	position: absolute;
	    	top:62px;
	    	left: 0px;  
	        width: 100%;
	        height: 470px;
	        background-color: #fafafa;
	        z-index: 999;
	        display: none;
	        box-shadow: 1px 1.5px 1.5px 1.5px #eeeeee;
	    }
	    #dropmu span{
	    	float: left;
	    	background: #ededed;
	    }
	    #dropmu span:nth-child(2){
	    	float: left;
	    	height: 264px;
	    	width: 1px;
	    	background: #ededed;
	    }
	    #dropmu span:nth-child(4){
	    	float: left;
	    	height: 312px;
	    	width: 1px;
	    	background: #ededed;
	    }
	    #dropmu span:nth-child(6){
	    	float: left;
	    	height: 256px;
	    	width: 1px;
	    	background: #ededed;
	    }
	    #dropmu dl:nth-child(1){
	    	float:left; 
	    	margin-top: 50px;
	    	margin-left: 540px;
	    	margin-right: 70px;
	    }
	    #dropmu dl:nth-child(3){
	    	float:left;
	    	margin-top: 50px; 
	    	margin-left: 70px;
	    	margin-right: 70px;
	    }
	    #dropmu dl:nth-child(5){
	    	float:left;
	    	margin-top: 50px;
	    	margin-left: 70px; 
	    	margin-right: 70px;
	    }
	    #dropmu dl:nth-child(7){
	    	float:left;
	    	margin-top: 50px;
	    	margin-left: 70px; 
	    	margin-right: 70px;
	    }
	     #dropmu dl dt,dd{
	     	font-size: 16px;
	     	color: #363636;
	     	cursor: pointer;
	    }
	     #dropmu dl a{
	     	font-size: 12px;
	     	color: #777777;
	    }
	    #dropmu dl dd:nth-child(2){
	    	margin-top: 26px;
	    }
	    #dropmu dl dd:nth-child(3){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(4){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(5){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(6){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(7){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(8){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(9){
	    	margin-top: 12px;
	    }
	    #dropmu dl dd:nth-child(10){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(11){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(12){
	    	margin-top: 12px;
	    }
	     #dropmu dl dd:nth-child(13){
	    	margin-top: 13px;
	    }
    /*登陆做完*/
	    .box2{
	    	width: 100%;
	    	height: 39px;
	    	color: #fafafa;
	    	border-top: 2px solid #e8e8e8;
	    	border-bottom: 1px solid #dcdcdc;
	    	box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8;
	    }
	    .box2_1{
	    	width: 1120px;
			height: 38px;
			margin:0px auto;
			line-height: 38px;	
	    }
	    .box2_1 div{
	    	width: 200px;
	    	height: 24px;
	    	border:1px solid #cdcdcd;
	        float: right;
	        margin-top: 7px;
	        line-height: 24px;
	        border-top-left-radius: 10px 12px;
	        border-top-right-radius: 10px 12px;
	        border-bottom-left-radius: 10px 12px;
	        border-bottom-right-radius: 10px 12px;
	    }
	    .box2_1 div i{
	    	float: right;
	    	color: #b0b2b4;
	    	margin-right: 6px;
	    	cursor: pointer;
	    }
	    .box2_1 div p{
	    	float: right;
	    	font-size: 12px;
	    }
	    .box2_1 p{
	    	float: left;
	    	color: #757575;
	    	font-size: 12px;
	    	cursor: pointer;
	    }
	    .box2_1 i{
	    	margin-right: 4px;
	    	float:left;
	    	color: #c03a36;
	    	font-size: 14px;
	    	font-weight: 900;

	    }
	    .box2_1 input{
			float: right;
			height: 20px;
			width: 112px;
			margin-right:15px;
			border:none;
			outline: none;
			margin-top: 2px;
			font-size: 12px;
	    }
	    /*搜索框完*/
	    .box3{
	    	width: 1120px;
	    	margin:18px auto;
	    }
	    .box3_1{
		    position: relative;
		  	border:1px solid #d2d2d2;
		  	width: 1120px;
		  	height: 460px;
		  	box-shadow: 0.5px 0.5px 0.5px 0.5px #e8e8e8;
		  	border-top-left-radius:6px 6px;
		  	border-top-right-radius:6px 6px;
		  	border-bottom-left-radius: 6px 6px;
		  	border-bottom-right-radius: 6px 6px;
		}
		.box3_1 img{
			position: absolute;
			top: 0;
			left: 0;
			width:1120px; 
			height:460px;
			opacity: 1;
			border-top-left-radius:6px 6px;
			border-top-right-radius:6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
	    }
	    .box3 .box3_1 .isbutton{
	    	position: absolute;
	    	bottom: 16px;
	    	right:50%;
	    	margin-right: -20px;
	    	width: 40px;
	    	height: 20px;
	    	z-index: 999;
	    	border: 1px solid transparent;
	    }
	    .isbutton span:nth-child(1){
	    	position: absolute;
	    	top: 50%;
	    	margin-top:-5px;
	    	right:5px;
	    	width: 10px;
	    	height: 10px;
	    	/*background: #f5f5f5;*/
	    	border: 1px solid #dbdbdb;
	    	border-radius: 50%;
	    	cursor: pointer;
	    }
	    .isbutton span:nth-child(2){
	    	position: absolute;
	    	top: 50%;
	    	margin-top:-5px;
	    	left: 5px;
	    	width: 10px;
	    	height: 10px;
	    	/*background: #f0f0f0;*/
	    	border: 1px solid #dbdbdb;
	    	border-radius: 50%;
	    	cursor: pointer;
	    }
	    /*自动轮播图结束*/
	    .box4{
	     	width: 1120px;
	     	margin:0 auto;
	     	position: relative;
	     	/*border: 1px solid #d9d9d9*/;
        }
        .box4_1{
        	position: relative;
	     	float: left;
	     	width: 788px;
	     	/*height: 57px;*/
	     	background-color: #f7f7f7;
	     	border:1px solid #d9d9d9;
	     	/*border-top: 1px solid #d9d9d9;
	     	border-right: 1px solid #d9d9d9;
	     	border-left: 1px solid #d9d9d9;*/
	     	border-bottom:block;
	     	/*display: none;*/
	     	line-height: 57px;
	     	box-shadow: 1px 1px 1px 1px #eaeaea;
	     	border-top-left-radius:6px 6px;
	        border-top-right-radius:6px 6px;
	        border-bottom-left-radius:6px 6px;
	        border-bottom-right-radius:6px 6px;
        }
        .box4_1 p:nth-child(1){
	        float: left;
	        margin-left: 30px;
	        color: #757575;
	        font-size: 16px;
        }
        .box4_1 img{
	     	float: right;
	     	margin-top: 28px;
	 	    margin-right: 34px;
	 	    color: #bdbdbd;
	 	    /*cursor: pointer;*/
        }
        .box4_1 .jh{
        	position: absolute;
        	top:21px; 
        	right: 41px;
        	width: 3px;
        	height: 18px;
        	background:#bfbfbf; 
        	/*cursor: pointer;*/
        }
        /*精品咨询完*/
        .box4_5{
	     	width: 320px;
	     	height: 57px;
	     	border:1px solid #d9d9d9;
	     	float: right;
	     	line-height: 57px;
	     	box-shadow: 1px 1px 1px 1px #eaeaea;
	     	border-top-left-radius: 6px 6px;
	        border-top-right-radius: 6px 6px;
	        border-bottom-left-radius: 6px 6px;
	        border-bottom-right-radius: 6px 6px;
        }
        .plate{
        	margin-top: 10px;
        	border-bottom-right-radius:0px 0px;
        	border-bottom-left-radius: 0px 0px;
        	border-bottom: none;
        	box-shadow:none;
        	/*板块推荐开始*/
        }
       
		.box4_5 p{
			float: left;
			font-size: 16px;
			color: #757575;
			margin-left: 30px;
		}
		.box4_5 i{
			float: left;
			font-size:17px; 
			color:#b58a60;
			margin-left: 8px;
			margin-top: -3px;
			cursor: pointer;
		}
		.box4_5 div{
			float: right;
			width: 98px;
			height: 38px;
			line-height: 38px;
			margin-top: 8px;
			margin-right: 12px;
			cursor: pointer;
			background-color: #fff3ce;
			border:1px solid #e5c9a0;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.box4_5 div:hover{
			background-color: #ffeeba;
		}
		.box4_5 div p{
			margin-left: 18px;
			font-size: 15px;
			color: #a16a32;
		}
		.hand{
			cursor: pointer;
		}
		.hot{
			margin-top: 25px;
		}
		/*今日签到完*/
		.platemu{
        	float: right;
        	/*height: 334px;*/
        	width: 320px;
        	margin-top: 68px;
        	margin-right: -322px;
        	border: 1px solid transparent;
        	border-top: none;
        	border-right: none;
        	background-color: #ffffff;

        }
        .Rson{
        	float: right;
        	height: 334px;
        	width: 320px;
        	border: 1px solid #d7d7d7;
        	background-color: #ffffff;
        	border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
        }
        .faItem{
        	width: 70px;
        	float: right;
        	margin-right: 25px;
        	font-size: 12px;
        }
        .oneitem{
        	float: left;
        	margin-top: 26px;
        	color: #6c6e69;
        	cursor: pointer;
        }
        .platemu-item{
        	float: left;
        	margin-top: 52px;
			color: #6c6e69;
			cursor: pointer;
        }
        .faItem .platemu-item:nth-child(4){
			margin-top: 50px;
        }
        .platemu-i{
        	width: 24px;
        	float: right;
        	margin-right: 16px;
        }
        .platemu-i i{
        	float: left;
        	font-size: 22px;
        	margin-top: 43px;
        	color: #d6d6d6;
        }
        .platemu-i .i2{
        	margin-top: 24px;
        	color: #d7d7d7;
        }
        .platemu-p{
        	width:82px;
        	float: right;
        	margin-right: 42px;
        	font-size: 12px;
        }
		.platemu-z{
			width:26px;
			float: right;
			margin-right: 16px	
		}
		.platemu-z i{
			float: left;
        	font-size: 22px;
        	margin-top: 42px;
        	color: #d6d6d6;
		}
		.platemu-z .i2{
        	margin-top: 22px;
        	font-size: 24px;
        	color: #d7d7d7;
        }
        .platemu-z .i3{
        	font-size: 25px;
        	color: #d6d6d6;
        }
        .platemu-p .platemu-item:nth-child(3){
			margin-top: 52px;
        }
        .platemu-p .platemu-item:nth-child(4){
			margin-top: 51px;
        }
        .platemu-p .platemu-item:nth-child(5){
			margin-top: 50px;
        }
        /*板块推荐列表完*/
        .Rimg{
        	float: right;
        }
        .Rimg img{
        	float: right;
        	width: 322px;
        	height: 198px;
        	margin-top: 10px;
        	cursor: pointer;
        	border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
        }
        /*右侧图片完*/
        .focus_us{
        	height: 152px;
        }
        .focus_us p:nth-child(1){
        	float: right;
			font-size: 12px;
        	margin-right: 46px;
        	margin-left: 12px;
        	margin-top: 29px;
        	cursor: pointer;	
        }
        .focus_us img:nth-child(2){
        	float: right;
        	margin-left: 38px;
        	margin-top: 24px;
        	cursor: pointer;
        }
        .focus_us p:nth-child(3){
        	float: right;
        	font-size: 12px;
        	margin-left: 12px;
        	margin-top: 29px;
        	cursor: pointer;
        }
        .focus_us img:nth-child(4){
        	float: right;
        	margin-top: 22px;
        	cursor: pointer;
        }
		.focus_us img:nth-child(5){
			float: right;
			margin-right: 20px;
			margin-left: 68px;
			margin-top: 49px;
			margin-bottom: 32px;
			cursor: pointer;
		}
		.focus_us p:nth-child(6){
			float: right;
			font-size: 15px;
			margin-top: 46px;
			cursor: pointer;
		}
		.focus_us p:nth-child(7){
			float: right;
			color: #999999;
			font-size: 12px;
			margin-right: -96px;
			margin-top: 68px;
				
		}
		.focus_us p:hover{
			text-decoration: underline;
		}
		.focus_us p:nth-child(7):hover{
			text-decoration: none;
		}
		.focus_us img:nth-child(8){
			float: left;
			margin-top: 42px;
			margin-left: 46px;
			margin-bottom: 23px;	
		}
		.ROM{
			position: relative;
			height: 253px;
		}
		.ROMson{
			position: absolute;
			top: 20px;
			left: 50%;
			margin-left: -139px;
			height: 38px;
			width: 278px;
			cursor: pointer;
			display: block;
			background-color:#f2f2f2;
			border: 1px solid #cccccc;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.ROMson p{
			position: absolute;
			top: 12px;
			font-size: 12px;
			color: #999999;
			left: 15px;
		}
		.ROMson img{
			position: absolute;
			top: 17px;
			right: 18px;
		}
		.ROMbro{
			position: absolute;
			top: 20px;
			left: 50%;
			margin-left: -139px;
			height:194px;
			width: 278px;
			/*line-height: 38px;*/
			cursor: pointer;
			display: none;
			background-color:#ffffff;
			border: 1px solid #cccccc;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.ROMbro p{
			position: absolute;
			top: 14px;
			font-size: 12px;
			color: #999999;
			left: 15px;
		}
		.ROMbro img{
			position: absolute;
			top: 17px;
			right: 18px;
		}
		.sonson1{
			position: absolute;
			top: 38px;
			left: 0px;
			width: 100%;
			height: 38px;
			border-top: 1px solid #cacaca;
			border-bottom: 1px solid #e6e6e6;
		}
		.sonson1 p{
			position: absolute;
			left: 93px;
			top:13px;
		}
		.sonson1 img{
			position: absolute;
	        left: 32px;
	        top: 12px;
		}
		.sonson1 div{
			position: absolute;
			width: 1px;
			height: 16px;
			left: 77px;
			top: 12px;
			background: #e9e9e9;
		}
		.sonson2{
			position: absolute;
			top: 77px;
			left: 0px;
			width: 100%;
			height: 38px;
			border-bottom: 1px solid #e6e6e6;
		}
		.sonson2 p{
			position: absolute;
			left: 93px;
			top:13px;
		}
		.sonson2 img{
			position: absolute;
	        left: 32px;
	        top: 12px;
		}
		.sonson2 div{
			position: absolute;
			width: 1px;
			height: 16px;
			left: 77px;
			top: 12px;
			background: #e9e9e9;
		}
		.sonson3{
			position: absolute;
			top: 116px;
			left: 0px;
			width: 100%;
			height: 38px;
			border-bottom: 1px solid #e6e6e6;
		}
		.sonson3 p{
			position: absolute;
			left: 93px;
			top:13px;
		}
		.sonson3 img{
			position: absolute;
	        left: 23px;
	        top: 12px;
		}
		.sonson3 div{
			position: absolute;
			width: 1px;
			height: 16px;
			left: 77px;
			top: 12px;
			background: #e9e9e9;
		}
		.sonson4{
			position: absolute;
			top: 156px;
			left: 0px;
			width: 100%;
			height: 38px;
		}
		.sonson4 p{
			position: absolute;
			left: 93px;
			top:13px;
		}
		.sonson4 img{
			position: absolute;
	        left: 19px;
	        top: 12px;
		}
		.sonson4 div{
			position: absolute;
			width: 1px;
			height: 16px;
			left: 77px;
			top: 12px;
			background: #e9e9e9;
		}
		.clphone{
			position: absolute;
			top: 80px;
			left: 50%;
			margin-left: -139px;
			height: 38px;
			width: 278px;
			cursor: not-allowed;
			display: block;
			background-color:#f8f8f8;
			border: 1px solid #eaeaea;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.clphone p{
			position: absolute;
			top: 12px;
			font-size: 12px;
			color: #d5d5d5;
			left: 15px;
		}
		.clphone img{
			position: absolute;
			top: 17px;
			right: 18px;
		}
		.clphoneson{
			position: absolute;
			top: 80px;
			left: 50%;
			margin-left: -139px;
			height: 38px;
			width: 278px;
			cursor: pointer;
			display: none;
			background-color:#f2f2f2;
			border: 1px solid #cbcbcb;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.clphoneson p{
			position: absolute;
			top: 12px;
			font-size: 12px;
			color: #999999;
			left: 15px;
		}
		.clphoneson img{
			position: absolute;
			top: 17px;
			right: 18px;
		}
		.brobro{
			position: absolute;
			top: 80px;
			left: 50%;
			margin-left: -139px;
			height: 116px;
			width: 278px;
			cursor: pointer;
			display: none;
			background-color:#ffffff;
			border: 1px solid #cbcbcb;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.ppp{
			position: absolute;
			top:0px;
			height: 38px;
			width: 278px;
			cursor: pointer;
			display: block;
			background-color:#ffffff;
			border-top: none;
			border-bottom: none;
			border-left: none;
			border-right: none;
		}
		.brobro p{
			color: #a8a8a8;
		}
		.broson p{
			left:14px;
			font-size: 12px;
			color: #666a6b;
		}
		.yijia{
			position: absolute;
			top: 80px;
			left: 50%;
			margin-left: -139px;
			height: 77px;
			width: 278px;
			cursor: pointer;
			display: none;
			background-color:#ffffff;
			border: 1px solid #cbcbcb;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.yijiason{
			border-bottom: none;
		}
		.sanxing{
			position: absolute;
			top: 80px;
			left: 50%;
			margin-left: -139px;
			height: 77px;
			width: 278px;
			cursor: pointer;
			display: none;
			background-color:#ffffff;
			border: 1px solid #cbcbcb;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.sanxingson{
			border-bottom: none;
		}
		.nexus{
			position: absolute;
			top: 80px;
			left: 50%;
			margin-left: -139px;
			height: 77px;
			width: 278px;
			cursor: pointer;
			display: none;
			background-color:#ffffff;
			border: 1px solid #cbcbcb;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.nexusson{
			border-bottom: none;
		}
		.xiazai{
			float:left;
			margin-left: 21px;
			margin-top: 140px;
			height: 40px;
			width: 128px;
			font-size: 15px;
			line-height: 40px;
			border: 1px solid #eab2b0;
			background: #eab2b0;
			color: #fdf9f9;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.xiazai p{
			margin-left: 33px;
		}
		.shuaji{
			position: absolute;
			right: 21px;
			top: 140px;
			height: 40px;
			width: 128px;
			color: #c1c1c1;
			font-size: 12px;
			background: #fefefe;
			border: 1px solid #f3f3f3;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.shuaji p{
			margin-left: 33px;
			margin-top: 11px;
		}
		.shuaji2{
			position: absolute;
			right: 21px;
			top: 140px;
			height: 40px;
			width: 128px;
			color: #c1c1c1;
			font-size: 12px;
			background: #fefefe;
			display: none;
			border: 1px solid #e0e0e0;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.shuaji2 p{
			margin-left: 33px;
			margin-top: 11px;
		}
		.btn p:nth-child(1){
			position: absolute;
			top: 222px;
			left: 22px;
			font-size: 12px;
            color: #d6d6d6;
		}
		.btn p:nth-child(2){
			position: absolute;
			top: 222px;
			left: 103px;
			font-size: 12px;
            color: #a3a3a3;
		}
		.btn p:nth-child(3){
			position: absolute;
			top: 222px;
			left: 201px;
			font-size: 12px;
            color:  #d6d6d6;
		}
		.btn p:nth-child(4){
			position: absolute;
			top: 222px;
			left: 273px;
			font-size: 12px;
            color: #a3a3a3;
		}
		.tuijian{
			height: 152px;
		}
		.tuijian div{
            margin-top: 20px;
            margin-left: 20px;
		}
		.youxi{
			height: 280px;
		}
		.youxi img{
			width: 288px;
			height: 120px;
		}
		.youxi img:nth-child(2){
			margin-left: 20px;
			margin-right: 12px;
			margin-top: 5px;
		}
		/*右侧结束*/
		.jiapr{
			width: 788px;
			position: absolute;
			top:0;
			left: 0;
			display: block;
			overflow: hidden;
			background-color: #f7f7f7;
			border: 1px solid #d9d9d9;
			box-shadow: 1px 1px 1px 1px #eaeaea;
	     	border-top-left-radius:6px 6px;
	        border-top-right-radius:6px 6px;
	        border-bottom-left-radius:6px 6px;
	        border-bottom-right-radius:6px 6px;
		}
		.jiapr p{
			/*float: left;*/
			margin-top: 23px;
			margin-left: 30px;
			color: #757575;
		}
		.jiaprson{
			margin-top: 20px;
			background: #ffffff;
			border-top: 1px solid #d9d9d9;
		}
		.jiaprson p{
			margin-top: 32px;
			color: #333333;
			font-size: 18px;
		}
		.jiaprsonson{
			width: 100%;

			/*border: 1px solid black;*/
			border-bottom: none;
		}
		.jiaprsonson p:nth-child(1){
			float: left;
			margin-top: 20px;
			margin-right: 19px;
			font-size: 12px;
			color: #8c8c8c;
		}
		.jiaprsonson p:nth-child(2){
			float: left;
			margin-top: 20px;
			color: #8c8c8c;
			font-size: 12px;
		}
		.jiaprsonson i:nth-child(3){
			float: left;
			margin-top: 22px;
			margin-left: 317px;
			color: #8c8c8c;
			font-size: 12px;
		}
		.jiaprsonson p:nth-child(4){
			float: left;
			margin-top: 20px;
			margin-left: 12px;
			color: #8c8c8c;
			font-size: 12px;
		}
		.jiaprsonson i:nth-child(5){
			float: left;
			margin-top: 22px;
			margin-left: 22px;
			color: #8c8c8c;
			font-size: 12px;
		}
		.jiaprsonson p:nth-child(6){
			float: left;
			margin-top: 20px;
			margin-left: 13px;
			margin-right: 30px;
			color: #8c8c8c;
			font-size: 12px;
		}
		.jiaprsonson img{
			margin-left: 30px;
			margin-top: 16px;
			border-radius: 3px 3px;
		}
		.jiaprsonson p:nth-child(8){
			float: left;
			margin-top: 24px;
			margin-right: 30px;
			color: #8c8c8c;
			font-size: 12px;
		}
		.jiaprsonson a:nth-child(9){
			float: left;
			margin-top: 24px;
			margin-left: 15px;
			color: #cc3e39;
			font-size: 12px;
		}
		.jiaprsonson i:nth-child(10){
			float: left;
			color: #cc3e39;
			margin-left: 5px;
			margin-top: 25px;
		}
		.jiaprsonson div:nth-child(11){
			margin-left: 30px;
			margin-top: 72px;
			width: 724px;
			height: 1px;
			background: #eeeeee;
		}
		.jiaprson:nth-child(3){
			border-top: none;
		}
		.jiaprson:nth-child(4){
			border-top: none;
		}
		.jiaprson:nth-child(6){
			border-top: none;
		}
		.las p{
			margin-left: 336px;
			font-size: 16px;
			margin-bottom: 22px;
		}
		.las i{
			font-size: 10px;
			margin-left: 8px;
			margin-top: 24px;
		}
		.jiapr p img{
			margin-left: 641px;
			cursor: pointer;
		}
		.pinglun{
			position: absolute;
			top: 2594px;
			left: 0px;
			width: 788px;
			/*height: 57px;
			overflow: hidden;*/
			border-radius: 6px 6px;
			border: 1px solid #e0e0e0;
			box-shadow: 1px 1px 1px 1px #eaeaea;
		}
		.pinglun p:nth-child(1){
			font-size: 16px;
			color: #757575;
			margin-left: 30px;
			margin-top: 22px;
		}
		.hancl img{
	        position: absolute;
	        top: 28px;
	        right: 34px;
	        cursor: pointer;
		}
		.hancl .jh{
			position: absolute;
			top: 21px;
			right: 41px;
			width:3px;
			height: 18px;
			display: none;
			background: #bdbdbd;
		}
		.pinglunson{
			position: relative;
			width: 100%;
			height: 98px;
			margin-top: 19px;
			/*line-height: 98px;*/
			border-top: 1px solid #e0e0e0;
			/*border: 1px solid black;*/
		}
		.pinglunson img:nth-child(1){
			margin-top: 28px;
			margin-left: 30px;
		}
		.pinglunson img:nth-child(1):hover{
			cursor: pointer;
		}
		.pinglunson p:nth-child(2){
			position: absolute;
			top:35px; 
			left:98px;
			color: #737373;
			font-size:14px;
		}
		.pinglunson p:nth-child(2):hover{
			cursor: pointer;
			text-decoration: underline;
		}
		.pinglunson img:nth-child(3){
			position: absolute;
			top:36px;
			left:320px ;
		}
		.pinglunson p:nth-child(4){
			position: absolute;
			top:63px; 
			left:98px;
			color: #737373;
			font-size:12px;
		}
		.pinglunson p:nth-child(5){
			position: absolute;
			top:63px; 
			left:203px;
			color: #b2b2b2;
			font-size:12px;
		}
		.pinglunson p:nth-child(6){
			position: absolute;
			top:64px; 
			right:34px;
			color: #8c8c8c;
			font-size:9px;
		}
		.pinglunson i:nth-child(7){
			position: absolute;
			top:67px; 
			right:64px;
			color: #d9d9d9;
			font-size:15px;
		}
		.pinglunson p:nth-child(8){
			position: absolute;
			top:64px; 
			right:102px;
			color: #8c8c8c;
			font-size:9px;
		}
		.pinglunson i:nth-child(9){
			position: absolute;
			top:67px; 
			right:148px;
			color: #d9d9d9;
			font-size:15px;
		}
		.pinglunson div:nth-child(10){
			position: absolute;
			width: 726px;
			height: 1px;
			top:98px; 
			right:30px;
			background: #eeeeee;
		}
		.pinglungong{
			border-top: none;
			margin-top: 0;
		}
		.zui{
			height: 56px;
		}
		.zuison{
			margin-top: 12px;
			margin-left: 189px;
			border-top-left-radius: 6px 6px;
			border-top-right-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.zuison div{
			float: left;
			height: 28px;
			width: 50px;
			line-height: 28px;
			text-align: center;
			border: 1px solid #cccccc; 
		}
		.zuison div:nth-child(1){
			background: #c13a35;
			color: #fff;
			border: 1px solid #c13a35; 
			border-top-left-radius: 6px 6px;
			border-bottom-left-radius: 6px 6px;
		}
		.zuison div:last-child{
			border-top-right-radius: 6px 6px;
			border-bottom-right-radius: 6px 6px;
		}
		.zuison .dis{
			border-left: none;
		}
		.laslas{
			position: absolute;
			width: 100%;
			top: 5552px;
			left: 0px;
			/*border: 1px solid black;*/
		}
		.dibu{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 48px;
			margin-bottom: 46px;
		}
		.dibu .li1{
			float: left;
			color: #757575;
			font-size: 12px;
		}
		.dibu .li1:hover{
			color: #e6878b;
			cursor: pointer;
		}
		.dibu .las1{
			float: left;
			width: 1px;
			height: 12px;
			background: #e0e0e0;
			font-size: 12px;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 4px;
		}
		.ul2{
			margin-top: 25px;
		}
		.undel{
			position: absolute;
			top:94px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #eeeeee;
		}
		.plast{
			position: absolute;
			top: 134px;
			left: 0px;
			color: #bdbdbd;
			font-size: 12px;
		}
		.plast1{
			position: absolute;
			top: 134px;
			right: 0px;
			color: #bdbdbd;
			font-size: 12px;
		}
		.plast1:hover{
			cursor: pointer;
		}
		.plast2{
			position: absolute;
			width: 1px;
			height: 12px;
			top: 137px;
			right: 132px;
			background: #bdbdbd;
		}
		.plast3{
			position: absolute;
			top: 134px;
			right: 143px;
			color: #bdbdbd;
			font-size: 12px;
		}
		.plast3:hover{
			cursor: pointer;
		}
		.plast4{
			position: absolute;
			width: 1px;
			height: 12px;
			top: 137px;
			right: 212px;
			background: #bdbdbd;
		}
		.plast5{
			position: absolute;
			top: 134px;
			right: 225px;
			color: #bdbdbd;
			font-size: 12px;
		}
		.plast5:hover{
			cursor: pointer;
		}
		.plast6{
			position: absolute;
			width: 100%;
			height: 60px;
			top:149px;
			left: 0;
			background: #fafafa;
		}
		
