*{
    margin: 0;
    padding: 0;
}
.ant-table-content{
    min-height: 600px;
}
.ant-upload-picture-card-wrapper{
    display: block !important;
}
.simditor .simditor-body{
    overflow: hidden !important;
}